
@font-face {
    font-family: "Unifont Upper";
    src: url('../fonts/unifont-upper-16.0.02.otf') format('opentype');
}

@font-face {
    font-family: "Unifont";
    src: url('../fonts/unifont-16.0.02.otf') format('opentype');
}

:root {
    --scale: 2;

    --red: #d55e00;
    --pink: #cc79a7;
    --orange: #e69000;
    --yellow: #f0e442;
    --green: #009e73;
    --light-blue: #56b4e9;
    --blue: #0072b2;
    --purple: #654d73;

    --black: #000000;
    --gray: #aeb3b8;
    --white: #ffffff;

    --skin1: #e8d9ca;
    --skin2: #ccc199;
    --skin3: #ab8859;
    --skin4: #5f3f35;
    --skin5: #3f352c;
}

* {
    font-family: "Unifont", "Unifont Upper";
    font-size: calc(16px / var(--dpr) * var(--dpri));
    font-smooth: never;
    -webkit-font-smoothing: none;
    accent-color: var(--blue);
}

html {
    background: var(--gray);
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: min-content;
}

h1 {
    font-size: 200%;
    color: var(--blue);
    background: var(--white);
    border-block: 4px ridge var(--blue);
    padding-block: 8px;
}

h2 {
    font-size: 200%;
    color: var(--blue);
    border-block-end: 4px ridge var(--blue);
}

h3 {
    color: var(--blue);
    border-block-end: 2px solid var(--blue);

}

table, fieldset {
    border: 6px ridge var(--blue);
}

fieldset {
    background: var(--light-blue);
    margin: 0;
    border-block-end: none;
    margin-block: 0;

    .control-group {
        display: inline-block;
    }
}

.palette {
    display: grid;
    grid-template-columns: repeat(8, min-content);
    margin-inline: auto;
    margin-block: 32px;
    padding: 0;

    &>li {
        display: inline;
        border: 6px inset var(--gray);

        &>div {
            width: 64px;
            height: 64px;

            &.red { background-color: var(--red); }
            &.pink { background-color: var(--pink); }
            &.orange { background-color: var(--orange); }
            &.yellow { background-color: var(--yellow); }
            &.green { background-color: var(--green); }
            &.light-blue { background-color: var(--light-blue); }
            &.blue { background-color: var(--blue); }
            &.purple { background-color: var(--purple); }
            &.black { background-color: var(--black); }
            &.gray { background-color: var(--gray); }
            &.white { background-color: var(--white); }
            &.skin1 { background-color: var(--skin1); }
            &.skin2 { background-color: var(--skin2); }
            &.skin3 { background-color: var(--skin3); }
            &.skin4 { background-color: var(--skin4); }
            &.skin5 { background-color: var(--skin5); }
        }
    }
}

table {
    background: var(--white);
    border-collapse: collapse;
}

th, td {
    border: none;
    text-align: center;
}

.number, .code, .name {
    text-align: start;
    padding-inline: 1em;
}

.unifont, .text, .noto-text {
    border-inline-start: 2px ridge var(--gray);
}

td:is(.unifont, .text, .emoji, .color) img {
    padding: 2px;
    width: calc(16px * var(--scale) / var(--dpr) * var(--dpri));
    image-rendering: pixelated;
}

td:is(.noto-text, .noto-emoji, .noto-color) {
    /* line-height: 0; */
    line-height: calc(24px * var(--scale));
}

td.noto-text {
    font-family: "Noto Sans Symbols", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: calc(16px * var(--scale));
}

td.noto-emoji {
    font-family: "Noto Emoji", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: calc(12px * var(--scale));
}

td.noto-color {
    font-family: "Noto Color Emoji", serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(12px * var(--scale));
}

td.default img {
    border: calc(2px * var(--scale)) solid #f0e442;
}